SIGNATURE_POLICY_ALL = "\"OR('DeoniMSP.member','TuxerMSP.member','BrangusMSP.member','SalersMSP.member','PinzgauerMSP.member')\""
SIGNATURE_POLICY_MINIMAL = "\"OR('DeoniMSP.member','BrangusMSP.member','SalersMSP.member')\""
LARGE_NETWORK_MEMBERS = ( cli.deoni.de cli.brangus.de cli.pinzgauer.de cli.tuxer.de cli.salers.de )
SMALL_NETWORK_MEMBERS = ( cli.deoni.de cli.brangus.de cli.salers.de )
TLS_CA_CERTS_FOLDER = "/etc/hyperledger/msp/users/admin/msp/tlscacerts"
LARGE_PEER_ADDRESSES = ( peer0.deoni.de:7051 peer0.brangus.de:7051 peer0.pinzgauer.de:7051 peer0.tuxer.de:7051 peer0.salers.de:7051 )
SMALL_PEER_ADDRESSES = ( peer0.deoni.de:7051 peer0.brangus.de:7051 peer0.salers.de:7051 )
LARGE_PEER_CERTFILES = ( /etc/hyperledger/msp/users/admin/tls/ca.crt ${TLS_CA_CERTS_FOLDER}/tlsca.brangus.de-cert.pem ${TLS_CA_CERTS_FOLDER}/tlsca.pinzgauer.de-cert.pem ${TLS_CA_CERTS_FOLDER}/tlsca.tuxer.de-cert.pem ${TLS_CA_CERTS_FOLDER}/tlsca.salers.de-cert.pem )
SMALL_PEER_CERTFILES = ( /etc/hyperledger/msp/users/admin/tls/ca.crt ${TLS_CA_CERTS_FOLDER}/tlsca.brangus.de-cert.pem ${TLS_CA_CERTS_FOLDER}/tlsca.salers.de-cert.pem )